{% extends "base.html" %} 

{% block titulo %} Detalles {{ cancion.nombre }} {% endblock %}

{% block contenido_principal %}
	 <div class="row">
		<div class="media col-xs-10">
		  <div class="media-left media-middle">
			<img class="media-object" src="/portadas/{{ cancion._id.toString() }}.png" >
		  </div>
		  <div class="media-body">
			 <h2>{{ cancion.nombre }}</h2>
			 <p>{{ cancion.autor }}</p>
			 <p>{{ cancion.genero }}</p>
			  {% if comprarValido %}
			  <a class="btn btn-primary pull-right"
				 href="/cancion/comprar/{{cancion._id.toString()}}">{{ cancion.precio
				  }} € - {{ cancion.usd }} $</a>
			  {% else %}
			  <audio controls>
					  <source src="/audios/{{ cancion._id.toString() }}.mp3" type="audio/mpeg">
			  </audio>
			  {% endif %}

			  <!-- Cambiar el precio por "reproducir" si ya está comprada -->
		  </div>
		</div>
	  </div>
	  
	 <!-- -->
	 <div class="row" style="margin-top: 20px;" >
		<div class="media col-xs-10">
			  <div class="media-left media-middle">
				<a href="#">
				  <img class="media-object" src="img/user.png" >
				</a>
			  </div>
			  <div class="media-body">
				<h4 class="media-heading">Middle aligned media</h4>
				Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
			  </div>
		  </div>
		<div class="media col-xs-10">
			  <div class="media-left media-middle">
				<a href="#">
				  <img class="media-object" src="img/user.png" >
				</a>
			  </div>
			  <div class="media-body">
				<h4 class="media-heading">Middle aligned media</h4>
				Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
			  </div>
		  </div>
		<div class="media col-xs-10">
			  <div class="media-left media-middle">
				<a href="#">
				  <img class="media-object" src="img/user.png" >
				</a>
			  </div>
			  <div class="media-body">
				<h4 class="media-heading">Middle aligned media</h4>
				Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
			  </div>
		  </div>
	  </div>

	<br/><br/><br/>
	<div id="comentarios">
		<div>
			<form method="post" action="/comentarios/{{ cancion._id.toString() }}" >
				<div>
					<label class="control-label col-sm-2" >Comentar: </label>
					<div class="col-sm-8">
					<input type="text" class="search-query form-control"
						   placeholder="Comenta la canción" name="texto"/>
					</div>
					<span class="input-group-btn">
						<button class="btn" type="submit">Comentar</button>
					</span>
				</div>
			</form>
		</div>
		<br/><br/>
		<div id="vistaComentarios">
			<table class="table table-hover">
				<thead>
				<tr>
					<th>Comentario</th>
					<th>Autor</th>
					<th></th>
					<th class="col-md-1"></th>
					<th class="col-md-1"></th>
					<th class="col-md-1"></th>
				</tr>
				</thead>
				<tbody>
				{% for comentario in comentarios %}
				<tr>
					<td>{{ comentario.texto }}</td>
					<td>{{ comentario.autor }}</td>
					<td><a>Eliminar</a></td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}